definitions:
  models.CreateUserInput:
    properties:
      email:
        description: Email address of the user, must be a valid email format
        example: user@example.com
        type: string
      name:
        description: Name of the user
        example: John Doe
        minLength: 3
        type: string
    required:
    - email
    - name
    type: object
  models.ErrorResponse:
    properties:
      code:
        description: Code is a predefined error code string, e.g. "0001".
        example: "0000"
        type: string
      message:
        description: Message should clearly describe the error in human-readable form.
        example: The error in human-readable form
        type: string
    required:
    - code
    - message
    type: object
  models.User:
    properties:
      email:
        description: Email of the user. Must be valid email format.
        example: user@example.com
        type: string
      id:
        description: ID is the primary key, autogenerated by the database.
        type: integer
      name:
        description: Name of the user.
        example: John Doe
        minLength: 3
        type: string
    required:
    - email
    - id
    - name
    type: object
info:
  contact: {}
paths:
  /users:
    get:
      consumes:
      - application/json
      description: Get all users from the database
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.User'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: List all users
      tags:
      - users
    post:
      consumes:
      - application/json
      description: Create a new user with the input payload
      parameters:
      - description: User info
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.CreateUserInput'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Add a new user
      tags:
      - users
swagger: "2.0"
